.maincomponent{
    background-image:   url(../../images/LoginPageV2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // url(../../images/bg-03-02.svg),
  }